name: publish
on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/15 * * * *'
jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      TZ: America/Los_Angeles
    steps:
      - uses: actions/checkout@v2
        with:
          ref: public
          fetch-depth: 0
      - uses: ruby/setup-ruby@v1
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git merge origin/main
          ruby index.rb > index.html
          git add index.html
          git commit -m "$(date)" || echo "no changes"
          git push
